.box {
  width: 55%;
}
.compare-at-amount {
  text-decoration: line-through;
}
.clayer-availability-message-container {
  padding: 10px 0;
}
.store-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  border: 2px #000;
}
.bold {
  font-weight: bold;
}
#clayer-shopping-bag-container {
  display: none;
}
#clayer-shopping-bag-container.open {
  display: block;
}
.clayer-add-to-bag {
  margin-top: 50px;
}
.clayer-add-to-bag-quantity {
  width: 100px;
}
